/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

/* edit interface */

.logoutbutton {
	font-weight: 600;
}

.hidden {
	display: none;
}

.edit h3,
.js-modal-open {
	display: flex;
	justify-content: center;
}

.edit i {
	padding-right: 0.5em;
}

.edit h3 {
	color: white;
	background-color: black;
	padding: 2em;
	width: 100%
}

.mes-projets {
	margin-top: 5em;
	position: relative;
}


.js-modal-open {
	position: absolute;
	left: 13.5em;
	top: 0.4em;
	font-size: medium;
	border: none;
	font-family: 'Work Sans';
	background-color: transparent;
	cursor: pointer;
}

/* code de base */

body {
	font-family: 'Work Sans';
	font-size: 14px;
}

.bodiv {
	max-width: 1140px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

header a {
	text-decoration: none;
	color: black;
}

header li {
	cursor: pointer;
}


#loginhead {
	font-weight: 600;
}

#loginhead:hover {
	color: black;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover,
li a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact,
#login>* {
	text-align: center;

}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label,
#js-modal-addimg label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login {
	width: 40%;
	margin: auto;
}

#login a,
.error {
	display: block;
	align-self: center;
	color: black;
}

.error {
	color: red;
	margin-bottom: 0.5em;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}


footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*** boutons générer gallerie ***/

.js-works-menu {
	display: flex;
	justify-content: center;
	margin: 0.8em 0 4em;
}

.js-works-menu button {
	font-family: 'Syne';
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	font-size: 1.2em;
	border: 0.05em #1D6154 solid;
	border-radius: 1.2em;
	margin: 0 0.4em;
}

.btn-menu {
	color: #1D6154;
	background-color: white;
	background-color: transparent;
}

.btn-select {
	color: white;
	background-color: #1D6154;

}

#btn-all {
	padding: 0.4em 1.7em;
}

#btn-items {
	padding: 0.4em 1.2em;
}

#btn-flats {
	padding: 0.4em 0.8em;
}

#btn-hotels {
	padding: 0.4em 0.4em;
}



/** modale général ***/

#js-modal-1 {
	display: flex;
}

#js-modal-2 {
	display: none;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 85%;
	background-color: white;
	border-radius: 0.8em;
	padding: 2em;
}

.modal-wrapper section {
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal-wrapper h3 {
	font-size: 2em;
}

.modal-photos, .js-modal-inputs {
	margin-top: 2em;
	margin-bottom: 1em;
	border-bottom: 0.2em solid #eaeaea;
}
.modalnav {
	display: flex;
	justify-content: space-between;
}

.modalnav button {
	font-size: 1.7em;
	cursor: pointer;
	color: black;
	border: none;
	background-color: transparent;
}


#arrow {
	color: transparent;
}


/** modale page une **/

.modal-gallery{
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.modal-photos {
	overflow: auto;
	padding: 1em 12%;
	margin-bottom: 3em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 0.5em;
	grid-row-gap: 0.5em;
}

.modal-photos img {
	width: 100%;
}

.modal-photos figure {
	position: relative;
}

.js-modal-delete {
	position: absolute;
	right: 0.3em;
	top: 0.3em;
	padding: 0.3em 0.4em;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 0.2em;
	background-color: black;
}

.js-modal-next {
	cursor: pointer;
	padding: 0.8em 4em;
	margin: 0 1em 4em;
	color: white;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: #1D6154;
	font-family: 'Syne';
	font-size: 1.2em;
	font-weight: 700;
	text-align: center;
	border-radius: 60px;
}

/** modale page deux **/

.js-img-preview {
	display: none;
	height: 14em;
}

.fa-range .fa-image {
	display: block;
}

#js-modal-addimg {
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.js-modal-inputs {
	overflow: auto;
	padding: 1em;
	width: 75%;
	display: flex;
	flex-direction: column;
}

#js-modal-addimg input, #imgcategory {
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.js-modal-inputs input,#imgcategory {
	padding: 1em 0;
}

#js-modal-addimg label {
	font-size: 1.2em;
	font-weight: 600;
}

#js-modal-submit {
	width: unset;
	padding: 0.8em 6em;
	margin-bottom: 4em;
}

.invalid-submit {
	cursor:not-allowed;
	 background-color: #a3a5a3 !important ; 
}

.valid-submit{
	cursor: pointer;
}
/** le bouton Ajouter Photo **/

.file-input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 9em ;
	background-color: #e8f1f6;
	border-radius: 2px;
}



.modal-file-input {
	text-align: center;
	display: flex;
	position: relative;
	margin: 1em;
	height:3.5em;
	width: 15em;
	cursor: pointer;
	border-radius: 2em;
	background-color: #cbd6dc;
}

.file-input-container>p {
	margin-bottom: 1em;
}

.modal-file-input>input {
	position: absolute;
	cursor: pointer;
	bottom: 1em;
	right: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}


.modal-file-input>span {
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	color: #306685;
	font-size: 1.25em;
	font-weight: 600;
	gap: 0.25em;
	width: 100%;
	height: 100%;
}

.modal-file-input>span>i {
	font-size: 0.7em;
	cursor: pointer;
}

.file-input-container>i {
	font-size: 6em;
	font-weight: 600;
	padding-top: 0.1em;
	color: #cbd6dc;
}
